<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Employee Directory</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css">
</head>
<body>


<div class="container">
    <h1 class="my-4">Employee Directory</h1>

    <a th:href="@{/api/showFormForAdd}" class="btn btn-primary btn-sm mb-3">
        Add Employee
    </a>

    <table class="table table-striped">
        <thead>
        <tr>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Email</th>
            <th>Action</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="employee : ${employees}">
            <td th:text="${employee.firstName}"></td>
            <td th:text="${employee.lastName}"></td>
            <td th:text="${employee.email}"></td>
            <td>
                <a th:href="@{/api/showFormForUpdate(employeeId=${employee.id})}"
                   class="btn btn-info btn-sm">
                    Update
                </a>

                <a th:href="@{/api/delete(employeeId=${employee.id})}"
                   class="btn btn-danger btn-sm">
                    Delete
                </a>

            </td>



        </tr>

        </tbody>
    </table>

</div>

</body>
</html>
